


.text{
    text-align: center;
}



@media screen and (min-width:780px){
    .lineContainer{
        text-align: center;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-row-gap: 10px;
        align-items: center;
    }
    .line,.next{
        width:85%;
        border: 1px solid black;
    }
}

@media screen and (min-width:480px) and (max-width:780px){
    .bar{
        text-align: center;
        display: grid;
        grid-template-columns:auto;
        align-items: center;
    }
    .line,.next{
       width: 100%;
       border: 1px solid black;
    }
}

@media screen and (max-width:480px){
    .bar{
        text-align: center;
        display: grid;
        grid-template-columns:auto;
        align-items: center;
    }
    .line,.next{
       width: 95%;
       text-align: center;
       margin-top: 20px;
       border: 1px solid black;

    }
}